@model kursova.Models.AddSpecialistViewModel
@{ViewData["Title"] = "Add Specialists";}
<h1>Add Specialist</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Specialty</label>
        <input type="text" class="form-control" asp-for="Specialty">
        <span asp-validation-for="Specialty" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
