@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="display-6">Made by Nazar Petrakov IS-11</h4>
    <h4 class="display-6">About</h4>

    <p>7. Електронна черга. CRUD WEB-application</p>
    <p>Громадяни особисто звертаються в соціальну службу (Центр надання
        адміністративних послуг, Пенсійний фонд, Водоканал тощо) по питаннях, які врішуються
        різними спеціалістами. Громадянин оформлює заявку, вказуючи проблематику питання, і
        тим самим визначає спеціаліста. Заявка ставиться в чергу до нього. Вона ідентифікується
        порядковим номером у межах дня. На табло висвітлюються чергові запрошення громадян
        до відповідних спеціалістів.
        Коли спеціаліст закінчив роботу з громадянином, він сповіщає про це систему.
        Хоча електронна черга і не містить особистих даних громадян, у ній мають бути всі
        звернення за весь час функціонування.</p>
</div>
