@model kursova.Models.UpdateCitizenViewModel

@{ViewData["Title"] = "Edit Citizens";
}
<h1>Edit Citizen</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Citizen">
        Delete
    </button>
    <span asp-validation-for="HasRelatedApplications" class="text-danger"></span>
</form>